<div class="container">
<% if @messages.count > 0 %>
<table class="table table-striped table-bordered">
<tr>
<th>Sender</th><th>Message</th><th>Date</th>
</tr>
<% @messages.each do |m| %>
<tr>
<td><%= m.sender_name %></td><td><%= m.text %></td><td><%= m.created_at.to_s.split[0] %></td>
</tr>
</tr>
<% end %>
</table>
<% else %>
No messages
<% end %>
</div>
