// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment_author {
		  display:inline;
		  margin: 5px;
		  }

.comment_text {
		display: inline;
		margin: 5px;
}

#comments_box {
		overflow-y: auto;
		width: 100px;
		height: 200px;
}
