// Place all the styles related to the puzzles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.puzzle_correct {
		  color: #6ca73b;
}

.puzzle_wrong {
		color: #ff0000;
}

#colorIndicator {
		  width: 20px;
		  height: 20px;
		  border: 1px solid black;
} 

.colorWhite {
	     background-color: #ffeedd;
}

.colorBlack {
	     background-color: #000000;
}


.index_image {
	      background-size: 100%;
		 width: 20px;	  
		 height: 15px;  
		 display: inline-block;
		 margin: 0 0 0 8px;	     
}

.correct_image {
		 background-image: url("correct.png");
}

.info_image {
		 background-image: url("info.png");
		 width: 15px;
}

li {
   line-heigth: 25px;
}

.puzzle_description {
    position: absolute;
    width: 800px;
    border: 8px solid black;
    padding: 30px;
    background-color: #aa8855;
    -moz-border-radius: 30px;
    border-radius: 30px;   
    text-align: center;
    line-height: 30px;  
    display: none;
    top: 0px;
    left: 0px;
}



#yes, #no {
	margin: 5px;
	width: 60px;

}