// Place all the styles related to the puzzles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.puzzle_correct {
		  color: #6ca73b;
}

.puzzle_wrong {
		color: #ff0000;
}

#colorIndicator {
		  width: 20px;
		  height: 20px;
		  border: 1px solid black;
} 

.colorWhite {
	     background-color: #ffeedd;
}

.colorBlack {
	     background-color: #000000;
}